@if (loading()){
  <div class="card flex justify-center w-full">
    <p-progress-spinner ariaLabel="loading" />
  </div>
} @else {
  <board-card-search class="justify-center top-[5px] left-[5px]" [initialValue]="keyword()" (keywordUpdated)="setKeyword($event)" />
  <section class="flex gap-2 items-center h-full w-full">
    @for (list of lists(); track list.id){
      <board-list
        (removeCard)="removeCard($event)"
        (updateCard)="selectCard($event)"
        (dropped)="moveCard(list.id,$event.cardId, $event.currentIndex)"
        (addCard)="addCard(list.id,$event)"
        [list]="list" />
    }
    <board-list-add class="min-w-[150px]" (listCreated)="createList($event)"/>
  </section>
}

<p-dialog maskStyleClass="backdrop-blur-sm"
          [visible]="hasSelectedCard()"
          header="Edit a card"
          (onHide)="selectCard(null)"
          [style]="{ width: '50rem' }">
  <ng-template #headless>
    @if (selectedCard(); as selectedCard){
      <board-card-form-modal [card]="selectedCard" (closed)="selectCard(null)" (updated)="updateCardAction($event)" />
    }
  </ng-template>
</p-dialog>
